.login__header__illustration1 {
  position: absolute;
  right: 0px;
  bottom: -20px;
  object-fit: contain;
  background-color: transparent;
}

.container {
  position: relative;
  height: 396px;

  .container_content {
    box-sizing: border-box;
    height: 100%;
    background-color: #ef3340;
    position: relative;
    border-radius: 0 0 50px 0;
    transform: skew(0deg, 5deg);
    left: 0%;
  }
}

.login__header__illustration2 {
  display: none;
}

.login__form {
  padding: 0px 20px;
  height: 100%;
  background-color: white;

  button {
    width: 100%;
    padding: 12px 10px;
    margin-top: 20px;
  }

  margin-top: 40px;
}

.container_content_fullWidth {
  transform: skew(0deg, -5deg);
  width: 100%;
  height: 100%;
  position: relative;
  padding: 70px 30px;
  background-color: transparent;
}

.boxContainer {
  width: 50%;
  background-color: transparent;
  padding-top: 40px;
}

.boxContainer__beneficios {
  display: none;
}

.arrow__container {
  display: flex;
  background: transparent;
  width: 100px;
  margin-top: 16px;
  padding: 10px 0px;
  justify-content: space-between;
  font-size: 12px;
}

.boxContainer__description {
  font-size: 15px;
  font-weight: 200;
  margin-top: 20px;
  color: white;
}

.boxContainer__title {
  color: white;
}

.cotiza {
  display: block;
}

.boxContainer__title_icon {
  margin-top: 20px;
}

@media screen and (min-width: 960px) {
  .container {
    height: 70%;

    .container_content {
      position: relative;
      transform: skew(-2deg);
      left: -2%;
    }
  }

  .container_content_fullWidth {
    transform: skew(2deg);
    padding: 70px 100px;
  }

  .boxContainer {
    width: 100%;
    background-color: transparent;
  }

  .login__header__illustration1 {
    display: none;
  }

  .login__header__illustration2 {
    display: block;
    position: absolute;
    right: 0px;
    bottom: -20px;
    height: 400px;
    width: 220px;
    background-color: transparent;
    left: 100%;
    margin-left: -130px;
    bottom: 60px;
  }

  .login__form {
    padding: 0px 120px;
    margin-top: 100px;
  }

  .boxContainer__beneficios {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
  }

  .boxContainer__title {
    font-size: 45px;
    margin-bottom: 40px;
    width: 200px;
  }

  .cotiza {
    display: none;
  }
}
