.card {
  border: 2px solid #f0f2fa;
  border-radius: 16px;

  .card__header {
    text-align: center;
    padding: 10px 0px;
    background: #f0f2fa;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
  }

  .card__body {
    padding: 10px 20px;

    .card__body__title {
      padding: 20px 0px;
      display: flex;
      background-color: transparent;
      justify-content: space-between;

      img {
        margin-right: 12px;

        height: 54px;
      }

      .card__body__title__description {
        h2 {
          margin: 10px 0px 15px 0px;
          font-weight: 400;
        }

        span {
          background-color: #83cc5e;
          color: white;
          padding: 2px 8px;
          border-radius: 12px;
          font-size: 11px;
        }
      }
    }
  }
}
