.beneficio__item {
  display: flex;
  background-color: transparent;
  padding: 15px 0px;

  justify-content: flex-start;

  .beneficio__item__icon {
    height: 20px;
    width: 20px;
    object-fit: contain;
  }

  .beneficio__item__text {
    background-color: transparent;
    margin-left: 10px;

    p {
      font-size: 14px;
      font-weight: lighter;
      color: #ddd;
    }
  }
}
