.container {
  width: 100%;
  height: 50px;
  padding: 12px 10px;
  margin-top: 20px;
  background-color: var(--color-primary);
  border-radius: 8px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  color: white;
  cursor: pointer;
}

.button {
  width: 100%;
  height: 50px;
}

.disabled {
  color: #c5cbe0;
  background-color: #f0f2fa;
}

@media screen and (min-width: 600px) {
  .button {
    width: 70%;
    margin: 0px auto;
  }
}

@media screen and (min-width: 680px) {
  .button {
    width: 50%;
    float: right;
    margin: 0px;
  }
}
