.container {
  display: flex;
  background-color: transparent;
  height: 50px;
  margin-bottom: 10px;

  .container__dropdown {
    display: flex;
    padding: 0px 20px;
    align-items: center;
    border: 1px solid #ddd;

    img {
      width: 10px;
      height: 6px;
      margin-left: 10px;
    }
  }
}
