.container {
  background-color: var(--color-primary);
  position: absolute;
  z-index: 10;
  width: 100%;
  img {
    padding: 20px 30px;
    object-fit: contain;
  }
}

@media screen and (min-width: 960px) {
  .container {
    width: 200px;
  }
}
