input:focus ~ .floating__label,
input:not(:focus):valid ~ .floating__label {
  top: 2px;
  bottom: 10px;
  left: 15px;
  font-size: 11px;
  opacity: 1;
  color: #00000060;
  width: 100%;
}

.inputText {
  font-size: 14px;
  width: 100%;
  height: 50px;
  padding: 0px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.floating__label {
  position: absolute;
  pointer-events: none;
  width: 100%;
  left: 20px;
  top: 16px;
  transition: 0.2s ease all;
  color: #a3abcc;
}

.icon {
  position: absolute;
  right: 6px;
  bottom: 28px;
  pointer-events: none;
  cursor: pointer;
}
