.plan__summary {
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    &:nth-child(1) {
      font-size: 12px;
    }

    &:nth-child(2) {
      color: #a3abcc;
      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: 1.2px;
    }
  }
}
