.plan {
  padding: 20px;
  border: 2px solid #f0f2fa;
  border-radius: 12px;

  cursor: pointer;

  p {
    text-transform: uppercase;
    font-size: 10px;
  }

  .plan__amount {
    background-color: transparent;
    padding: 5px 0px;
    position: relative;
    .plan__amount__coin {
      position: absolute;
      font-size: 10px;
      left: 0px;
      top: 5px;
    }
    .plan__amount__value {
      font-size: 30px;
      font-weight: 300;
      margin-left: 10px;
    }
    .plan__amount__type {
      font-size: 9px;
      margin: 0px 10px;
    }

    img {
      width: 14px;
      height: 14px;
      position: absolute;

      top: -16px;
      right: -5px;
    }
  }
}

.selected {
  border: 2px solid #83cc5e;
}
