.container {
  width: 100%;
  height: 100vh;
  background-color: blue;
  position: static;
}

.background {
  position: static;
  top: 0;
  left: -2%;
  width: 40%;
  height: 100%;
  border-radius: 0 0 80px 0;
  background-color: #ef3340;
}
