.stepper {
  display: flex;
  align-items: center;

  font-size: 13px;
  padding: 20px 0px;

  .stepper__stepText {
    color: var(--color-primary);
    display: none;
  }

  .stepper__currentStep {
    color: var(--color-primary);
    margin-left: 16px;
  }

  .stepper__steps {
    color: #c5cbe0;
    span {
      &:nth-child(1) {
        margin: 0px 6px;
      }
    }
  }
}

@media screen and (min-width: 680px) {
  .stepper {
    .stepper__stepText {
      display: block;
    }
    .stepper__currentStep {
      margin-left: 0px;
    }
    .stepper__stepText {
      margin-left: 16px;
    }
  }
}
