.container {
  font-weight: 300;
  font-size: 1.18em;

  span {
    color: var(--color-primary);
    font-weight: 400;
  }
}

@media screen and (min-width: 960px) {
  .container {
    font-size: 2em;
  }
}
