.wrapper {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.wrapper__form {
  padding: 0px 20px;
  height: 100%;
  background-color: white;

  button {
    width: 100%;
    padding: 12px 10px;
    margin-top: 20px;
  }

  margin-top: 40px;
}

.rimac__gracias__desktop {
  display: none;
}

.image__wrapper {
  display: flex;
  background-color: transparent;
  justify-content: flex-end;
  padding: 5px 0px;
  margin-bottom: 10px;
}

@media screen and (min-width: 960px) {
  .wrapper {
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 50% 50%;
  }

  .wrapper__form {
    padding: 0px 120px;
    margin-top: 100px;
  }

  .rimac__gracias__desktop {
    position: relative;
    display: block;
    height: 120px;
    background-color: transparent;
    text-align: center;
  }
}
