.wrapper {
  width: 100%;
  height: 100vh;
  background-color: transparent;
}

.mobile {
  display: block;
}

.not__mobile {
  display: none;
}

.wrapper__form {
  padding: 0px 20px;
  height: 100%;
  background-color: white;

  button {
    width: 100%;
    padding: 12px 10px;
    margin-top: 20px;
  }
  padding-top: 70px;
}

.plan__item__separator {
  display: block;
  margin-left: 10px;
}

.carrousel {
  background-color: transparent;
  display: flex;
  align-items: center;
  overflow-x: scroll;
}

.carrousel::-webkit-scrollbar {
  display: none;
}

.plan__summary {
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    &:nth-child(1) {
      font-size: 12px;
    }

    &:nth-child(2) {
      color: #a3abcc;
      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: 1.2px;
    }
  }
}

.illustration__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 680px) {
  .wrapper {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 25% 75%;
  }

  .wrapper__form {
    padding: 0px 120px;
    margin-top: 100px;
    background-color: transparent;
  }

  .mobile {
    display: none;
  }

  .not__mobile {
    display: block;
  }

  .not__mobile::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 250px;
    background-color: var(--color-primary);
  }

  .carrousel {
    overflow-x: hidden;
  }

  .plan__item__separator {
    display: none;
    margin-left: 0px;
  }

  .carrousel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    align-items: center;
    overflow-x: hidden;
    gap: 10px;
  }
}
