html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input[type="date"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type="date"]:focus::-webkit-datetime-edit {
  color: black !important;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input:focus,
textarea:focus,
button,
select:focus {
  outline: none;
}

@import "colors.scss";
